[Unit]
Description=Service related to the robot logic.

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/robot_on_start
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
